/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
header{
    font-family: Helvetica, arial, sans-serif;
}
img{
    width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* COMMON */
/* UTILITIES */
.ps_btn{
    padding: .5rem 1rem;
    border-radius: 2rem;
    font-weight: bold;
    text-decoration: none;
}
.ps_btn_black{
    background-color: #363636;
    color: white;
}
.ps_btn_orange{
    background-color: #cd3d0f;
    color: white;
}
/* Header */
.header-top{
    background-color: black;
    height: 40px;
}
.header-top img{
    width: 80px;
    height: 40px;
}
/* nav */
nav{
    height: 3rem;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: black;
}
nav li{
    display: inline-block;
    padding: 0 .6rem;
    line-height: 3rem;
}
nav span {
    margin-right: 5px;
}
nav img{
    width: .6rem;
}
nav .mobile-hide{
    display: none;
}
nav .logo{
    width: 3rem;
}
nav .menu-right{
    padding-right: .8rem;
}
nav .menu-right li{
    padding-right: 0;
}
.lens{
    width: 30px;
}
nav .mobile-hamburger{
    padding-top: .3rem;
    line-height: 3rem;
    font-size: 2rem;
    display: inline-block;
}

/* MAIN */
/* Jumbotron / Game banner */
#ps_jumbotron{
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    color: white;
    height: 600px;
}
#ps_jumbotron .container{
    height: 100%;
}
.game_jumbo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.ps_banner_details{
    padding-bottom: 2rem;
}
.ps_banner_details *{
    margin-bottom: 2rem;
}
.ps_banner_details img{
    width: 55%;
}
.ps_banner_details h2{
    font-size: 3rem;
}
.ps_banner_details p{
    font-weight: bold;
}


/* MEDIA QUERIES */

/* Medium */
@media all and (min-width: 768px) {
    /* Main */
}

/* Large and above */
@media all and (min-width: 992px){
    /* Header */
    /* Navbar */
    nav .mobile-hide{
        display: inline-block;
    }
    nav .mobile-hamburger{
        display: none;
    }
    /* Main */
    /* Jumbotron / Game banner */
    .ps_banner_details img{
        width: 20%;
    }
}
